{# <form{{ attributes }}>
  {{ element.field_first_name }}
  {{ element.field_last_name }}
  {{ element.account.mail }}
  {{ element.account.name }}
  {{ element.account.pass.pass1 }}
  {{ element.account.pass.pass2 }}
  {{ element.field_phone_number }}
  {{ element.field_address }}
  {{ element.form_build_id }}
  {{ element.form_token }}
  {{ element.form_id }}
  {{ element.actions }}
</form> #}

<div class="login-form-wrapper">
  <div class="login-form-card">
    <h2>Create an Account</h2>
    
    <form{{ attributes }}>
      <div class="form-item">
        {{ element.field_first_name }}
      </div>
      
      <div class="form-item">
        {{ element.field_last_name }}
      </div>
      
      <div class="form-item">
        {{ element.account.mail }}
      </div>
      
      <div class="form-item">
        {{ element.account.name }}
      </div>
      
      <div class="form-item">
        {{ element.account.pass.pass1 }}
      </div>
      
      <div class="form-item">
        {{ element.account.pass.pass2 }}
      </div>
      
      <div class="form-item">
        {{ element.field_phone_number }}
      </div>
      
      <div class="form-item">
        {{ element.field_address }}
      </div>
      
      {{ element.form_build_id }}
      {{ element.form_token }}
      {{ element.form_id }}
      
      <div class="form-actions">
        {{ element.actions }}
      </div>
    </form>
    
    <div class="signup-link">
      Already have an account? <a href="/user/login">Sign in</a>
    </div>
  </div>
</div>